body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

#login-section,
#lobby-section {
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.card {
    border: 1px solid #555;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    width: 150px;
}

.card img {
    width: 100%;
    height: auto;
}

#carousel-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

#carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
}

#prev-button {
    left: 0;
}

#next-button {
    right: 0;
}

#movie-info-container {
    margin-top: 1rem;
}

#filter-message {
    margin-top: 1rem;
}

#search-input {
    width: 200px;
}

#clear-filters-button {
    margin-left: 1rem;
}

#goto-user-button,
#logout-button {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}
